@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body {
    font-family: 'Open Sans';
}

header {
    padding: 36px;
    display: flex;
    justify-content: center;
}

section,
footer {
    padding: 48px 0;
}

.container {
    width: 1338px;
    max-width: calc(100% - 60px);
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.inicial {
    display: flex;
    background-color: #E04B6F;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.inicial .principal-img {
    max-width: 100%;
}

.inicial .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.c-container_principal {
    display: flex;
    flex-direction: column;
    width: 562px;
    max-width: calc(50% - 12px);
    justify-content: center;
}

.c-container-titulo {
    font-weight: bold;
    margin-bottom: 24px;
    color: #F9F9F9;
    font-size: 26px;
    line-height: 140%;
}

.c-container-texto {
    color: #F9F9F9;
    font-size: 20px;
    line-height: 140%;
}

.apps {
    display: flex;
    gap: 38px;
    padding-top: 32px;
}

.apps img {
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.c-container-img {
    max-width: calc(50% - 12px);
}

.c-img-mobile {
    display: none;
}

.seta-rosa {
    margin: 0 auto;
}

.seta-baixo {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.seta-baixo:after {
    z-index: 1;
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 32px solid #E04B6F;
}


/*.inicial:after {
    content: "";
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 32px solid #50e04b;
    position: absolute;
    margin-top: calc(50% + 56px);
}*/

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video-container {
    width: 50%;
    max-width: 564px;
    flex: 2;
}

iframe {
    height: 340px;
}

.video .container {
    justify-content: center;
    align-items: center;
}

.video-texto {
    padding-left: 15px;
    max-width: 40%;
}

.video p {
    border-radius: 2px;
    padding-left: 24px;
    border-left: 8px solid #D9D9D9;
    line-height: 140%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #4B4B4B;
    max-width: 370px;
}

.video a {
    text-decoration: none;
}

.analise {
    background-color: #1B7AC5;
}

.analise-titulo {
    font-size: 28px;
    width: 100%;
    line-height: 140%;
    font-weight: bold;
    color: #F9F9F9;
}

.analise-bloco-container {
    display: flex;
    gap: 14px;
}

.circulo {
    height: 25px;
    width: 25px;
    background-color: #F9F9F9;
    border-radius: 50%;
    display: inline-block;
    margin-top: 35px;
}

.box-text {
    flex: 1;
}

.analise-item {
    gap: 8px;
    display: flex;
}

.analise-bloco-titulo {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #F9F9F9;
    padding-top: 32px;
}

.analise-bloco-texto {
    font-size: 16px;
    color: #F9F9F9;
    line-height: 160%;
    margin-top: 8px;
}

.blog-titulo-principal {
    color: #1B7AC5;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
}

.blog-bloco-container {
    display: flex;
    gap: 14px;
    padding-top: 32px;
    overflow: scroll;
    justify-content: space-between;
}

.blog-btn-container {
    cursor: pointer;
}

.blog-bloco {
    box-shadow: 0px 4.51506px 9.03012px rgba(176, 190, 197, 0.24);
    width: 100%;
}

.card-image {
    width: 100%;
}

.blog-titulo {
    font-weight: bold;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 140%;
    padding: 20px;
}

.blog-texto {
    font-size: 16px;
    line-height: 160%;
    color: #4B4B4B;
    padding-left: 20px;
}

.blog-bnt {
    margin-top: 100px;
    border-radius: 0 0 7px 7px;
    /*Cima esquerde, cima direita, baixo esquerda, baixo direita */
    height: 48px;
    background-color: #F9F9F9;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.blog-bnt button {
    display: flex;
    align-items: center;
    padding-right: 16px;
    background-color: #F9F9F9;
    border: none;
}

.blog-bnt a img {
    height: 24px;
}

.blog-bnt a {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #895BB7;
    text-decoration: none;
    display: flex;
}

.descubra {
    background-color: #E04B6F;
}

.descubra-titulo-principal {
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    color: #F9F9F9;
}

.descubra-bloco-conteiner {
    gap: 14px;
    display: flex;
    width: 100%;
}

.descubra-bloco {
    background-color: #F9F9F9;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    flex: 1;
}

.descubra-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.seta-descubra {
    display: flex;
}

.seta-descubra button {
    cursor: pointer;
    background-color: #F9F9F9;
    border: none;
}

.mamae {
    align-items: flex-start;
}

.mamae h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    color: #4B4B4B;
}

.mamae p {
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    color: #818181;
    padding-top: 4px;
}

.faq-bloco-tituo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #1B7AC5;
    line-height: 140%;
}

.faq-bloco-tituo h2 {
    color: #1B7AC5;
    font-size: 24px;
    line-height: 140%;
}

.faq-bloco-container {
    display: flex;
    gap: 14px;
}

.faq-bloco {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: 100%;
}

.faq-item {
    background-color: #F9F9F9;
    padding: 24px;
    width: 100%
}

.faq-item.bg-gray {
    background-color: #F2F2F2;
}

.faq-item h2 {
    color: #4B4B4B;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
}

.faq-item p {
    padding-top: 8px;
    color: #4B4B4B;
    font-size: 16px;
    line-height: 160%;
}

.faq-item-conteiner {
    background-color: #F2F2F2;
    color: #4B4B4B;
}

.faq-item-conteiner h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    padding-top: 24px;
    padding-left: 24px;
}

.faq-paragrafo {
    margin-top: 8px;
}

.faq-paragrafo p {
    border: 1px solid #4B4B4B;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
}

.faq-paragrafo a {
    color: #4B4B4B;
    text-decoration: none;
}

.android {
    margin-top: 8px;
}

.item {
    margin-top: 16px;
    background-color: #F2F2F2;
}

footer {
    background-color: #333333;
}

.contato-container {
    width: 100%;
    margin-top: 24px;
}

footer h1,
footer h2 {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    color: #F9F9F9;
}

footer h2 {
    margin-top: 32px;
}

footer a {
    font-size: 18px;
    line-height: 140%;
    margin-top: 4px;
    color: #FFFFFF;
}

.contato-bloco {
    display: flex;
    gap: 38px;
}

.field-container {
    flex: 1;
    width: 100%;
}

.contato-bloco label {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: #D9D9D9;
    margin-bottom: 8px;
}

.contato-bloco input {
    width: 347px;
    height: 42px;
    border-radius: 4px;
    padding-left: 16px;
}

.contato-bloco textarea {
    font-family: 'Open Sans';
    width: 100%;
    height: 142px;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
}

 ::placeholder {
    font-size: 16px;
    color: #818181;
}

.contato-btn {
    cursor: pointer;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    margin-left: auto;
    background-color: #E04B6F;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    border: none;
}

.contato-item {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.contato-item p {
    line-height: 140%;
    color: #D9D9D9;
    font-size: 18px;
}

.contato-item img {
    padding-right: 30px;
}

.c-blog {
    padding: 48px 0;
}

@media screen and (max-width:768px) {
    .c-container_principal {
        width: 80%;
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
    }
    .c-img-mobile {
        display: initial;
        margin: 40px auto;
        width: 400px;
    }
    .c-container-img {
        display: none;
    }
    .apps {
        justify-content: center;
    }
    .video-container {
        width: 100%;
        max-width: 100%;
        flex: inherit;
    }
    .video-texto {
        max-width: 100%;
        padding-left: 0;
        padding-top: 32px;
    }
    .video-texto p {
        max-width: 100%;
    }
    .blog-bloco {
        min-width: 280px;
    }
    .c-blog {
        overflow: hidden;
    }
    .blog-container {
        width: 104%;
    }
    .blog-bloco-container {
        padding-right: 30px;
    }
    .descubra-bloco {
        width: 100%;
        flex: initial;
    }
    .descubra-bloco-conteiner {
        flex-wrap: wrap;
        gap: 24px;
    }
    .faq-bloco-container {
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 24px;
    }
    .faq-bloco {
        margin-top: 0;
    }
    .contato-bloco {
        flex-wrap: wrap;
    }
    .contato-media {
        width: 100%;
    }
    .contato-bloco {
        gap: 0;
    }
    .contato-bloco input {
        width: 100%;
        box-sizing: border-box;
    }
    .field-container {
        margin-bottom: 24px;
    }
    .contato-btn {
        min-width: 340px;
        max-width: 100%;
    }
}

@media screen and (max-width:576px) {
    .analise-bloco-container {
        flex-wrap: wrap;
    }
    .c-img-mobile {
        width: 100%;
    }
    .apps {
        gap: 15px;
    }
    .video {
        margin-top: -80px;
    }
}

@media screen and (max-width:375px) {
    header {
        padding: 32px 0;
    }
    .logotipo {
        max-width: 140px;
    }
    .logotipo img {
        width: 100%;
    }
    .contato-btn {
        min-width: 306px;
    }
    .contato-item img {
        padding: initial;
    }
}

.m-b-0 {
    margin-bottom: 0;
    padding-top: 16px;
}